.item{
    width: 280px;
}

.item img{
    width: 280px;
}

.item p{
    margin:6px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old{
    color:#8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item-img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.item:hover{
    transform: translateY(-10px);
}

.add-to-cart-btn{
    background: linear-gradient(135deg, #ff6a00, #ee0979);
    margin-top: 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.add-to-cart-btn:hover{
    transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media(max-width: 1280px){
    .item{
        width: 220px;
        font-size: 14px;
    }
    .item-img{
        width: 220px;
    }
    .item-price-old{
        font-size: 14px;
    }
}

@media(max-width:1024px){
    .item{
        width: 170px;
        font-size: 13px;
    }
    .item img{
        width:170px;
    }
    .item-price-old{
        font-size: 13px;
    }
}

@media(max-width:500px){
   
    .item img{
        width: 150px;
        height: 35vh;
    }
   
}


@media(max-width:500px){
    .item{
        width: 160px;
        gap: 10px;
    }
    .item img{
        width: 150px;
        height: 35vh;
        gap: 5px;
    }
   
}
